.conHeadOne, .conHeadTwo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.headingOne, .headingTwo, .aboutP {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.conHeadOne {
    margin-top: 80px;
    font-size: .9rem;
    font-weight: bold;
}

.conHeadTwo {
    margin: 2% 25%;
    font-size: 2.2rem;
    font-weight: bolder;
}
