.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: white;
}

.login-form {
    height: 500px;
    width: 350px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    height: 50px;
    width: 340px;
    margin: 10px;
}

.loginBtn3 {
    height: 50px;
    width: 340px;
    margin: 10px;
    background-color:  #40d9ac;
    color: rgb(255, 255, 255);
    border-color: rgba(0, 197, 133, 0);
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 16px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease 0s;
    text-decoration: none;
}

.loginBtn3:hover {
    background-color: transparent;
    color: #40d9ac;
    color: rgb(0, 207, 152);
    border: 1px solid rgb(0, 207, 152);
}

.loginHead1 {
    font-weight: 600;
    font-size: 2rem;
}

.loginHead2 {
    font-weight: normal;
    color: #777777;
    line-height: 1;
    margin-top: 10px;;
}
