.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}


.login-form {
    height: 350px;
    width: 350px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-btn {
height: 40px;
width: 80px;
margin-left: 20px;
border: 1px solid rgb(187, 186, 192);
padding: 8px 16px;
border-radius: 4px;
font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 600;
text-decoration: none;
color: rgb(43, 39, 60);
transition: 0.5s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
