.nearHeadingOne {
    display: flex;
    justify-content: center;
    z-index: 0;
    margin: 80px 0px 20px 0px;
    font-size: 2.2rem;
    font-weight: bolder;
}

.eleHeadTwo {
  margin: 2% 15% 0% 15%;
  font-size: 2.2rem;
  font-weight: bolder;
}

.near-ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0px 5%;
  z-index: 0;
}
.near-li {
  margin: 0px auto;
  z-index: 0;
}

.dockName {
  font-weight: 600;
  font-size: 1.1rem;
}
.dockDescription {
  font-style: italic;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 14px 2px 14px;
}
.imgDock {
  height: 70%;
  width:300px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 25px;
  position: relative;
  z-index: 0;
}
.imgDock:hover {
  bottom: 4px;
  box-shadow: 0px 5px 5px rgba(0,0,0,.2);
}
