.nav-container {
    margin:  10px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.navLeft-container {

}

.navRight-container{
    display: flex;
    justify-content: end;
}

.logoNav {
    width: 100px;
}
