.nav-container {
    margin:  22px 84px 0px 84px;
    display: flex;
    justify-content: space-between;
}

.navLeft-container {

}

.navRight-container{
    display: flex;
    justify-content: flex-end;
}

.logoNav {
    width: 110px;
}

.navRight-container {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.22px;
    font-weight: 400;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.loginBtn, .signupBtn {
    padding: 0px 12px;
    color: rgb(40, 64, 12);
    text-decoration: none;
}
