.nav-container {
    margin:  22px 84px 0px 84px;
    display: flex;
    justify-content: space-between;
}

.navLeft-container {
    padding-top: 8px;
}

.navRight-container{
    display: flex;
    justify-content: flex-end;
}

.logoNav {
    width: 110px;
    cursor: url(../../../public/hipsail_pointer.png), pointer;
}

.navRight-container {
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.22px;
    font-weight: 400;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

.loginBtn, .signupBtn, .navBtn, .aboutBtn {
    padding: 6px 12px;
    color: rgb(40, 64, 12);
    text-decoration: none;
}

.aboutBtn {
    border: none;
    width: 80px;
    font-size: 1rem;
    padding-top: 8px ;
}

.loginBtn:hover, .signupBtn:hover, .navBtn:hover, .aboutBtn:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 197, 133);
}

.hostBtn {
    background-color: rgb(0, 197, 133);
    color: rgb(255, 255, 255);
    border-color: rgba(0, 197, 133, 0);
    height: 36px;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 16px 8px;
    border-radius: 24px;
    cursor: pointer;
    transition: background 0.2s ease 0s;
}

.hostBtn:hover {
    background-color: transparent;
    color: rgb(0, 207, 152);
    border: 1px solid rgb(0, 207, 152);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown, .dropbtn {
    border: none;
    outline: none;
    padding: 0px 16px;
    background-color: #f3f2ef;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #f3f2ef;
}

.dropdown-content a:hover {
    background-color: #ddd;
    text-align: center;
}

.dropdown:hover .dropdown-content {
display: block;
}

.logout {
    width: 30px;
    height: 30px;
}
